**/__pycache__
.env.global
**/.env
.vscode
# MongoDB data directory
data/db/
data\db\

# Docker volumes and database files
*.wt
*.lock
*.bson
mongod.lock

#Airflow logs
infra/airflow/logs/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

.idea

infra/data
infra/airflow/src/logs
infra/airflow/src/plugins
infra/airflow/data